{% extends 'base.html' %}

{% block title %} Assigment 8
{% endblock %}

{% block content %}
    {{ super() }}
{% set page_name='assigment8' %}

    <h1> My Hobbies  </h1>
    <h2> Name : {{ profile.name | default('unknown', true | upper() ) }} {{  profile.second_name | default('unknown', true | upper() ) }} </h2>
    <h2>Hobbies:</h2>
    <ul>
        {% for hobby in hobbies %}
        <li> {{ hobby }}</li>
        {% endfor %}
    </ul>


{% if  Favorite_song %}
<h1> this is my favorite song : {{ Favorite_song }} </h1>

{% endif %}

  {% include 'aboutme.html' %}
{% endblock %}


