<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cv.css">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <script src="../static/cv.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="GridContainer" >
        <div id="item1" > Summery
            <p>4nd year B.Sc. Student in Industrial Engineering and Management at Ben Gurion University. <br>
            Knowledge of programming languages: Java (main), Python, SQL. <br> 
            Looking to integrate into a student position</p>
        </div>
        <div id="profile_img">
            <img src="/static/imgs/woman.png" alt="woman" style="height: 155px;">
            <a href="/GetinTouch">Get in Touch</a>

        </div>
        <div id="item2" > Skills
            <p id="skills">
                •	Power BI <br>
                •	Programming Languages: <br>
                    Java (main), Python, SQL <br>
                •	Knowledge of organizational systems: <br>
                 Power BI, Office, Word, <br> 
               PowerPoint, Excel, Outlook, Visio. 
            </p>

        </div>
        
        
        <div id="item3" > Experience
            <p>
                2017-2018:  Commander, Intelligence Corps, Israel Deface force (IDF)
•	Commanding a team of 40 soldiers and 10 staff.
•	Providing technical support for intelligence information systems.
•	Functioning under pressure and responding to immediate and unplanned events. 
•	Excellence in position and advance promotion to rank.
2016-2017: Commander, officer school, Israel Deface force (IDF)
•	Commanding a team of 60 cadets and 4 Commanders.
•	 Manage the schedule of the teams and their content.
•	 Leading professional conferences to train team commanders.

            </p>
        </div>     
    </div>
    <a href="/assignment8"> assignment 8 </a>

</body>
</html>