   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/cv.css">
</head>
<body>
 {% include 'Header.html' %}
    <hr>
    {% block content %}
        <h1>Get in Touch</h1>
        {% if session.user_nickname %}
            <h3> Welcome {{ session.user_nickname }} !</h3>
        {% else %}
              <h1>Welcome guest</h1>
        {% endif %}
     <form action="" name = "ContactForm" onsubmit = "return(validateEmail());">

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" >

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" >

        <label for="Email">Email</label>
        <input type="Email" id="Email" name="Email" > <br>
        <br>

        <label for="message">Type your message here</label>
        <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Submit">

      </form>


    {% endblock %}
    <hr>
    {% include 'footer.html' %}
</body>
</html>

